body{
  background-color: #2ce28c;
  font-family:fantasy;
  font-size: 1.3em;
}
#content{
  background-color: #FFF;
  margin-left: 200px;
  margin-right: 200px;
  box-sizing: border-box;
  padding: auto;

}
form{
  background-color: #FFF;
  padding: 90px;
  margin-bottom:30px;
}
