body{
  background-color: #2ce28c;
  font-family:fantasy;
  font-size: 1.3em;
}
#content{
  background-color: #FFF;
  margin-left: 200px;
  margin-right: 200px;
  box-sizing: border-box;
  padding: auto;

}
form{
  background-color: #FFF;
  padding: 90px;
  margin-bottom:30px;
}
.jumbotron{
  background-image: url(../image/js2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
h1,p{
  background-color: rgba(0,0,0,.5);
  width: 400px;
  height: 50px;
  color: #ffff;
}
#total{
  text-align: center;
  font-weight: bold;
  font-style: italic;
}
